<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ProcessLogin</servlet-name>
        <servlet-class>hg.pages.ProcessLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDemoData</servlet-name>
        <servlet-class>hg.ajax.CreateDemoData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>hg.pages.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Preferences</servlet-name>
        <servlet-class>hg.ajax.user.Preferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreferencesSave</servlet-name>
        <servlet-class>hg.ajax.user.PreferencesSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessLogout</servlet-name>
        <servlet-class>hg.pages.ProcessLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>hg.pages.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEmpty</servlet-name>
        <servlet-class>hg.ajax.user.UserEmpty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSave</servlet-name>
        <servlet-class>hg.ajax.user.UserSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEdit</servlet-name>
        <servlet-class>hg.ajax.user.UserEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdate</servlet-name>
        <servlet-class>hg.ajax.user.UserUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDelete</servlet-name>
        <servlet-class>hg.ajax.user.UserDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Help</servlet-name>
        <servlet-class>hg.pages.Help</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rooms</servlet-name>
        <servlet-class>hg.pages.Rooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomEmpty</servlet-name>
        <servlet-class>hg.ajax.room.RoomEmpty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomSave</servlet-name>
        <servlet-class>hg.ajax.room.RoomSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomEdit</servlet-name>
        <servlet-class>hg.ajax.room.RoomEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomUpdate</servlet-name>
        <servlet-class>hg.ajax.room.RoomUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDelete</servlet-name>
        <servlet-class>hg.ajax.room.RoomDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxTabTest</servlet-name>
        <servlet-class>hg.ajax.AjaxTabTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pricelists</servlet-name>
        <servlet-class>hg.pages.Pricelists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLNew</servlet-name>
        <servlet-class>hg.ajax.pl.PLNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelConfig</servlet-name>
        <servlet-class>hg.pages.HotelConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HCSave</servlet-name>
        <servlet-class>hg.ajax.HCSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLItemCellUpdate</servlet-name>
        <servlet-class>hg.ajax.pl.PLItemCellUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLCreate</servlet-name>
        <servlet-class>hg.ajax.pl.PLCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLGetPeriod</servlet-name>
        <servlet-class>hg.ajax.pl.PLGetPeriod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLEdit</servlet-name>
        <servlet-class>hg.ajax.pl.PLEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLEditSave</servlet-name>
        <servlet-class>hg.ajax.pl.PLEditSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PLDelete</servlet-name>
        <servlet-class>hg.ajax.pl.PLDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customers</servlet-name>
        <servlet-class>hg.pages.Customers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerNew</servlet-name>
        <servlet-class>hg.ajax.customers.CustomerNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSaveNew</servlet-name>
        <servlet-class>hg.ajax.customers.CustomerSaveNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerEdit</servlet-name>
        <servlet-class>hg.ajax.customers.CustomerEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSaveEdit</servlet-name>
        <servlet-class>hg.ajax.customers.CustomerSaveEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDelete</servlet-name>
        <servlet-class>hg.ajax.customers.CustomerDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservation</servlet-name>
        <servlet-class>hg.pages.Reservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResAvailRooms</servlet-name>
        <servlet-class>hg.ajax.res.ResAvailRooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResCreate</servlet-name>
        <servlet-class>hg.ajax.res.ResCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResList</servlet-name>
        <servlet-class>hg.pages.ResList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResGetMaxID</servlet-name>
        <servlet-class>hg.ajax.res.ResGetMaxID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResEdit</servlet-name>
        <servlet-class>hg.pages.ResEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResDelete</servlet-name>
        <servlet-class>hg.ajax.res.ResDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResGuestShowDlg</servlet-name>
        <servlet-class>hg.ajax.res.ResGuestShowDlg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResGuestUpdate</servlet-name>
        <servlet-class>hg.ajax.res.ResGuestUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResGuestDelete</servlet-name>
        <servlet-class>hg.ajax.res.ResGuestDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabArriving</servlet-name>
        <servlet-class>hg.ajax.tabs.TabArriving</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkin</servlet-name>
        <servlet-class>hg.pages.Checkin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckinGuests</servlet-name>
        <servlet-class>hg.ajax.CheckinGuests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabCheckedin</servlet-name>
        <servlet-class>hg.ajax.tabs.TabCheckedin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabDeparting</servlet-name>
        <servlet-class>hg.ajax.tabs.TabDeparting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabAvailableRooms</servlet-name>
        <servlet-class>hg.ajax.tabs.TabAvailableRooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabRoomStatus</servlet-name>
        <servlet-class>hg.ajax.tabs.TabRoomStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>hg.pages.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutGuests</servlet-name>
        <servlet-class>hg.ajax.CheckoutGuests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResPeriod</servlet-name>
        <servlet-class>hg.ajax.res.ResPeriod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllowCheckin</servlet-name>
        <servlet-class>hg.ajax.DISABLED_AllowCheckin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvList</servlet-name>
        <servlet-class>hg.pages.InvList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvForPeriod</servlet-name>
        <servlet-class>hg.ajax.inv.InvForPeriod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabOpenInvoices</servlet-name>
        <servlet-class>hg.ajax.tabs.TabOpenInvoices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invoice</servlet-name>
        <servlet-class>hg.pages.Invoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvItemEdit</servlet-name>
        <servlet-class>hg.ajax.inv.InvItemEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvItemUpdate</servlet-name>
        <servlet-class>hg.ajax.inv.InvItemUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabNewIndex</servlet-name>
        <servlet-class>hg.ajax.tabs.TabNewIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabFlipRoomStatus</servlet-name>
        <servlet-class>hg.ajax.tabs.TabFlipRoomStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvClose</servlet-name>
        <servlet-class>hg.ajax.inv.InvClose</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessLogin</servlet-name>
        <url-pattern>/ProcessLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDemoData</servlet-name>
        <url-pattern>/CreateDemoData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Preferences</servlet-name>
        <url-pattern>/Preferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreferencesSave</servlet-name>
        <url-pattern>/PreferencesSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLogout</servlet-name>
        <url-pattern>/ProcessLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEmpty</servlet-name>
        <url-pattern>/UserEmpty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSave</servlet-name>
        <url-pattern>/UserSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEdit</servlet-name>
        <url-pattern>/UserEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdate</servlet-name>
        <url-pattern>/UserUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDelete</servlet-name>
        <url-pattern>/UserDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Help</servlet-name>
        <url-pattern>/Help</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rooms</servlet-name>
        <url-pattern>/Rooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomEmpty</servlet-name>
        <url-pattern>/RoomEmpty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomSave</servlet-name>
        <url-pattern>/RoomSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomEdit</servlet-name>
        <url-pattern>/RoomEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomUpdate</servlet-name>
        <url-pattern>/RoomUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDelete</servlet-name>
        <url-pattern>/RoomDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxTabTest</servlet-name>
        <url-pattern>/AjaxTabTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pricelists</servlet-name>
        <url-pattern>/Pricelists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLNew</servlet-name>
        <url-pattern>/PLNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelConfig</servlet-name>
        <url-pattern>/HotelConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HCSave</servlet-name>
        <url-pattern>/HCSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLItemCellUpdate</servlet-name>
        <url-pattern>/PLItemCellUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLCreate</servlet-name>
        <url-pattern>/PLCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLGetPeriod</servlet-name>
        <url-pattern>/PLGetPeriod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLEdit</servlet-name>
        <url-pattern>/PLEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLEditSave</servlet-name>
        <url-pattern>/PLEditSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PLDelete</servlet-name>
        <url-pattern>/PLDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customers</servlet-name>
        <url-pattern>/Customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerNew</servlet-name>
        <url-pattern>/CustomerNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSaveNew</servlet-name>
        <url-pattern>/CustomerSaveNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerEdit</servlet-name>
        <url-pattern>/CustomerEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSaveEdit</servlet-name>
        <url-pattern>/CustomerSaveEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDelete</servlet-name>
        <url-pattern>/CustomerDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservation</servlet-name>
        <url-pattern>/Reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResAvailRooms</servlet-name>
        <url-pattern>/ResAvailRooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResCreate</servlet-name>
        <url-pattern>/ResCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResList</servlet-name>
        <url-pattern>/ResList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResGetMaxID</servlet-name>
        <url-pattern>/ResGetMaxID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResEdit</servlet-name>
        <url-pattern>/ResEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResDelete</servlet-name>
        <url-pattern>/ResDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResGuestShowDlg</servlet-name>
        <url-pattern>/ResGuestShowDlg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResGuestUpdate</servlet-name>
        <url-pattern>/ResGuestUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResGuestDelete</servlet-name>
        <url-pattern>/ResGuestDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabArriving</servlet-name>
        <url-pattern>/TabArriving</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkin</servlet-name>
        <url-pattern>/Checkin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckinGuests</servlet-name>
        <url-pattern>/CheckinGuests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabCheckedin</servlet-name>
        <url-pattern>/TabCheckedin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabDeparting</servlet-name>
        <url-pattern>/TabDeparting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabAvailableRooms</servlet-name>
        <url-pattern>/TabAvailableRooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabRoomStatus</servlet-name>
        <url-pattern>/TabRoomStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutGuests</servlet-name>
        <url-pattern>/CheckoutGuests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResPeriod</servlet-name>
        <url-pattern>/ResPeriod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllowCheckin</servlet-name>
        <url-pattern>/AllowCheckin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvList</servlet-name>
        <url-pattern>/InvList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvForPeriod</servlet-name>
        <url-pattern>/InvForPeriod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabOpenInvoices</servlet-name>
        <url-pattern>/TabOpenInvoices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invoice</servlet-name>
        <url-pattern>/Invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvItemEdit</servlet-name>
        <url-pattern>/InvItemEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvItemUpdate</servlet-name>
        <url-pattern>/InvItemUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabNewIndex</servlet-name>
        <url-pattern>/TabNewIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabFlipRoomStatus</servlet-name>
        <url-pattern>/TabFlipRoomStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvClose</servlet-name>
        <url-pattern>/InvClose</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
